# 09_파이썬자료형-기초자료형(1)

### 1-1. 수치자료형 - 정수형

In [ ]:
score = 23
type(score)

In [ ]:
id(score)

### 1-2. 수치자료형 - 실수형

In [ ]:
x = 3.2
type(x)

In [ ]:
id(x)

### 1-3. 수치자료형-복소수

In [ ]:
x = 4 + 5j
type(x)

In [ ]:
id(x)

### 2. 문자열

In [ ]:
city = "Seoul, Korea"
type(city)

In [ ]:
city = "Seoul, Korea"
city

In [ ]:
city1 = 'Seoul, Korea'
city1

In [ ]:
city2 = """Seoul, Korea"""
city2

In [ ]:
city3 = '''Seoul, Korea'''
city3

In [ ]:
"Kang's favorite food is apple"

In [ ]:
'Kang's favorite food is apple'

In [ ]:
'"I love you" he says.'

In [ ]:
''I love you" he says.'

In [ ]:
sentence = "Life is too short, \
You need Python. \
Let's learn Python."
sentence

### 3. 부울형

In [1]:
a = True
type(a)

bool

In [2]:
b = True
type(b)

bool

In [ ]:
bool('Python')

In [ ]:
bool('')

In [ ]:
bool(1)

In [ ]:
bool(0)

In [ ]:
bool(2)

In [ ]:
x = 1
y = x > 0
y

In [ ]:
if []:
    print('True')
else:
    print('False')

### 4. 형변환

In [ ]:
a = int(3.14)                         #정수형으로 변환
a

In [ ]:
b = float(3)
b

In [ ]:
c = 3.141592
repr(c)

In [ ]:
str(c)